.auth-form-container{
    background: #000000cd;
    position: fixed;
    height:100vh;
    width:100%;
    top:0;
    z-index:9999;
    display:flex;
    place-content: center;
    overflow: hidden;
    // align-items:center;
    .cancel{
        position:absolute;
        font-size: 3em;
        color: #ffffff;
        top:1em;
        // right:0;
        // left:0;
        border:1px solid white;
        padding: 0px 19px;
        border-radius: 10px;
        font-family: 'Mulish';
        &:hover{
            background: rgba(0, 0, 0, 0.76);
            cursor:pointer;
        }
    }
    .form-control{
        background: #fff;
        border-radius: 2em 0;
        margin-top: 8rem;
        display:flex;
        width:40rem;
        // border: 1px solid red;
        overflow:hidden;
        position:relative;
        place-content:center;
        height: 400px;
        form{
            border: 5px solid green;
            margin-top: 4em;
            position:absolute;
            display:flex;
            flex-direction:column;
            width:100%;
            border: none;
            height: 100%;
            // align-items:center;
            // transition: .3s ease-in-out;

            input,button{
                font-family: 'Mulish';
                font-size: 1em;
                padding: 5px 12px;
                margin: 5px auto;
                outline: none;
                width:70%;
              
            }
            button{
                padding:12px;  
                cursor:pointer;
                background: steelblue;
                border: 1px solid rgb(59, 92, 118);
                border-radius: 4px;
                font-weight: 700;
                color: #FFFFFf;
                &:hover{
                    background: rgb(59, 107, 146);
                }
            }
            p{
                font-family: 'Mulish';
                margin: 1.2em auto;;

                span{
                    font-family: 'Mulish';
                    color: tomato;
                    cursor:pointer;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
            .container{
                display:flex;
                flex-direction:column;

            }
        }
        .sign-up{
            left:0;
        }
        .sign-in{
  
            right:-400rem;
        }


        .sin1{
            right: 0;
            top:0;
        }
        .sin2{
            left: -400rem;
        }
    }
}

.remove-form{
    width: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
    // display: none;
}