.flash-sales-temp {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 85%;
  margin: 1em auto 2em auto;
  border-radius: 5px;
  // border: 2px solid green;
  .group {
    display: flex;
    background: red;
    border-radius: 5px 5px 0 0;
    place-content: space-between;
    padding: 8px 12px;
    align-items: center;
    h1 {
      font-weight: 700;
      font-family: "Mulish";
      font-size: 19px;
      color: #ffffff;
      // color: rgba(128, 128, 128, 0.405);
      letter-spacing: 1px;
    }
    .flash-icon {
      animation: beep 1s infinite;
    }
    @keyframes beep {
      0% {
        scale: 0.5;
        color: yellow;
      }
      50% {
        scale: 0.8;
        color: orangered;
      }
      100% {
        color: #ffffff;
        scale: 1.2;
      }
    }
    a {
      text-decoration: none;
      color: #ffffff;
      font-family: "Poppins";
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .parent-sales {
    padding: 12px 16px;
    // border: 1px solid red;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    gap: 16px;
    // border-radius: 0 0 5px 10px;
    .flash-sales {
      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        label {
          font-family: "Mulish";
          font-size: 14px;
          position: absolute;
          color: #f9461e;
          padding: 4px 4px;
          top: 0;
          right: 0;
          border-radius: 3px;
          background: rgba(255, 192, 203, 0.693);
          font-weight: 600;
        }
        span {
          font-family: "Poppins";
          color: #000000;
          font-size: 13px;
          &:hover {
            span {
              color: orangered;
            }
          }
        }
        img {
          width: 170px;
          height: 160px;
        }

        &:hover {
          img {
            transition: ease-in-out 0.3s;
            transform: scale(1.05);
          }
          span {
            color: orangered;
          }
        }
      }
    }
  }
  @media (max-width: 1079px) {
    // border: 2px solid red;
    width: 98%;
    .parent-sales {
      .flash-sales {
        a {
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
    }
  }
  @media (max-width: 944px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 110px;
              height: 110px;
            }
          }
        }
      }
  }
  @media (max-width: 900px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 140px;
              height: 140px;
            }
          }
        }
      }
  }
  @media (max-width: 570px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 130px;
              height: 130px;
            }
          }
        }
      }
  }
  @media (max-width: 550px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
  }
  @media (max-width: 508px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 110px;
              height: 110px;
            }
          }
        }
      }
  }
  @media (max-width: 475px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 120px;
              height: 120px;
            }
          }
        }
      }
  }
  @media (max-width: 434px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
  }
  @media (max-width: 402px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 90px;
              height: 90px;
            }
          }
        }
      }
  }
  @media (max-width: 382px) {
    .parent-sales {
        .flash-sales {
          a {
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
  }
}
